<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博彦科技工作汇报系统</title>
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
</head>

<body>
<div class="header">
    <div class="logo"><img src="/static/images/logo2.gif"></div>
</div>
<div class="editor">
    <div class="time"><span>Feedback</span>AMS</div>
    {% for f in fbs %}
        <dl>
            <dt>email:{{f['email']}}</dt>
        </dl>
        <dl>
            <dt>username:{{f['username']}}</dt>
        </dl>
        <dl>
            <dt>反馈内容</dt>
            <dd><pre>{{f['message']}}</pre></dd>
        </dl>
        <p>-----------------</p>
        {%end%}
     </div>
</body>
</html>
