<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博彦科技工作汇报系统</title>
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/css/datetimepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript" src="/static/js/datetimepicker.js"></script>
</head>

<body class="wrap">
    <p style='display:none' id="thisteamid">{{ str(thisteam['_id']) }}</p>
<div class="side">
    <div class="user">
        <em><img src="/static/images/photo.jpg"></em>
        <span>{{ username }}</span>
        <div class="exit">退出登录</div>
    </div>
    <div class="nav">
        <ul id="nav">
            {% for team in teams%}
            {% if str(thisteam['_id']) == str(team['teamID']) %}
            {% if team['status'] == 1 %}
            <li class='off'><a href="#">{{ team['name'] }}(归档)</a>
            {% else %}
            <li class='off'><a href="#">{{ team['name'] }}</a>
            {% end %}
                <ul class="subnav">
                    {% if type=="member" %}
                    <li><a href="/team/detail/{{ team['teamID'] }}">
                        {% if team['day_or_week'] == 0 %}日
                        {% else %}周
                        {% end %}
                        报</a></li>
                    <li><a href="/team/task/{{ team['teamID'] }}">任务</a></li>
                    <li class="hove"><a href="/team/member/{{ team['teamID'] }}">团队成员</a></li>
                    {% elif type=="task" %}
                    <li><a href="/team/detail/{{ team['teamID'] }}">
                        {% if team['day_or_week'] == 0 %}日
                        {% else %}周
                        {% end %}
                        报</a></li>
                    <li class="hove"><a href="/team/task/{{ team['teamID'] }}">任务</a></li>
                    <li><a href="/team/member/{{ team['teamID'] }}">团队成员</a></li>
                    {% else %}
                    <li class="hove"><a href="/team/detail/{{ team['teamID'] }}">
                        {% if team['day_or_week'] == 0 %}日
                        {% else %}周
                        {% end %}
                        报</a></li>
                    <li><a href="/team/task/{{ team['teamID'] }}">任务</a></li>
                    <li><a href="/team/member/{{ team['teamID'] }}">团队成员</a></li>
                    {% end %}
                </ul>
            </li>
            {% else %}
            {% if team['status'] == 1 %}
            <li class='off'><a href="#">{{ team['name'] }}(归档)</a>
            {% else %}
            <li class='off'><a href="#">{{ team['name'] }}</a>
            {% end %}
                <ul class="subnav">
                    <li><a href="/team/detail/{{ team['teamID'] }}">
                        {% if team['day_or_week'] == 0 %}日
                        {% else %}周
                        {% end %}
                        报</a></li>
                    <li><a href="/team/task/{{ team['teamID'] }}">任务</a></li>
                    <li><a href="/team/member/{{ team['teamID'] }}">团队成员</a></li>
                </ul>
            </li>
            {% end %}
            {% end %}
        </ul>
    </div>

    <div class="btn">
        <span class="pubBulletin delteam">发布公告</span><br><br>
        <span class="editteam delteam">设置当前<em>Team</em></span>
        <span class="newteam">新建<em>Team</em></span>
        <br><br>
        <img src="/static/images/logo3.gif">
    </div>
</div>

<div class="main">
    {% block body %}
    {% end %}
</div>

<!--团队添加成员-->
<div class="modpop addpeople">
    <div class="title">
        <h3>{{ thisteam['name'] }}</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="addsub" id="add_members" style=" min-height:300px">
            <dt><span>team成员</span><em><img src="/static/images/add.png" title="添加"></em></dt>
            <dd>
                <span>角色</span>
                <div class="select">
                    <p class='add_role'>组员</p>
                    <ul>
                        <li><a href="javascript:;">组员</a></li>
                        <li><a href="javascript:;">观察者</a></li>
                    </ul>
                </div>
                <span>邮箱</span><input name="" class="addsub_email" type="text" />
                <span>姓名</span><input name="" class="addsub_username" type="text" />
                <em><img src="/static/images/minus.png" title="删除"></em>
            </dd>
        </dl>
        <div class="btn"><a onclick="add_user_action()" class="modbtn1" href="javascript:;">添加</a></div>
    </div>
</div>

<!--新建team-基本信息-->
<div class="modpop build1">
    <div class="title">
        <h3>新建team-基本信息</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="timename" style=" min-height:300px">
            <dt><span>team名称：</span></dt>
            <dd>
                <input name="" type="text" value="teamname" id="new_teamname"/>
            </dd>
        </dl>
        <div class="btn"><a class="modbtn1 buildbtn2" href="javascript:;">下一步</a></div>
    </div>
</div>

<!--新建team-团队成员-->
<div class="modpop build2">
    <div class="title">
        <h3>新建team-团队成员</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="addsub" id="members">
            <dt><span>team成员</span><em><img src="/static/images/add.png" title="添加"></em></dt>
            <dd>
                <span>角色</span>
                <div class="select">
                    <p class='add_role'>组员</p>
                    <ul>
                        <li><a href="javascript:;">组员</a></li>
                        <li><a href="javascript:;">观察者</a></li>
                    </ul>
                </div>
                <span>邮箱</span><input name="" type="text" class="addsub_email" />
                <span>姓名</span><input name="" type="text" class="addsub_username"/>
                <em><img src="/static/images/minus.png" title="删除"></em>
            </dd>
        </dl>
        <div class="btn"><a class="modbtn1 buildbtn1" href="javascript:;">上一步</a><a class="modbtn1 buildbtn3" href="javascript:;">下一步</a></div>
    </div>
</div>

<!--新建team-日报周报设置-->
<div class="modpop build3">
    <div class="title">
        <h3>新建team-日报周报设置</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="type">
            <dt><span>报告类型：</span></dt>
            <dd>
                 <ul id="new_day_or_week_ul">
                    <li class="cur">日报</li>
                    <li>周报</li>
                </ul>
            </dd>
        </dl>
        <div class="day">
            <dl class="timeset">
              <dt><span>每天创建时间：</span></dt>
                <dd>
                    <input name="" type="text"  id="datetimepicker1" value="08:30"/>
                </dd>
            </dl>
            <dl class="weektips">
                <dt><span>提醒周期：</span></dt>
                <dd>
                     <ul id="new_team_day_remind_interval">
                        <li class="cur cur_class_change">15分钟</li>
                        <li class="cur_class_change">30分钟</li>
                        <li class="cur_class_change">45分钟</li>
                        <li class="cur_class_change">1小时</li>
                    </ul>
                </dd>
            </dl>
            <dl class="timeset">
                <dt><span>汇总日报发布时间：</span></dt>
                <dd>
                    <input name="" type="text"  id="datetimepicker3" value="18:15" />
                </dd>
            </dl>
        </div>
        <div class="week">
            <dl class="reminder">
                <dt><span>创建时间：</span></dt>
                <dd class="fix"> 
                    <div class="select">
                        <p id="new_team_week_week_create_time">周一</p>
                        <ul>
                            <li><a href="javascript:;">周一</a></li>
                            <li><a href="javascript:;">周二</a></li>
                            <li><a href="javascript:;">周三</a></li>
                            <li><a href="javascript:;">周四</a></li>
                            <li><a href="javascript:;">周五</a></li>
                            <li><a href="javascript:;">周六</a></li>
                            <li><a href="javascript:;">周日</a></li>
                        </ul>
                    </div>
                    <div class="txt"><input name="" type="text" id="datetimepicker4" value="08:30"/></div>
                </dd>
            </dl>
            <dl class="weektips">
                <dt><span>提醒周期：</span></dt>
                <dd>
                     <ul id="new_team_week_remind_interval">
                        <li class="cur cur_class_change">15分钟</li>
                        <li class="cur_class_change">30分钟</li>
                        <li class="cur_class_change">45分钟</li>
                        <li class="cur_class_change">1小时</li>
                    </ul>
                </dd>
            </dl>
            <dl class="reminder">
                <dt><span>汇总周报发布时间：</span></dt>
                <dd class="fix"> 
                    <div class="select">
                        <p id="new_team_week_week_summary_time">周五</p>
                        <ul>
                            <li><a href="javascript:;">周一</a></li>
                            <li><a href="javascript:;">周二</a></li>
                            <li><a href="javascript:;">周三</a></li>
                            <li><a href="javascript:;">周四</a></li>
                            <li><a href="javascript:;">周五</a></li>
                            <li><a href="javascript:;">周六</a></li>
                            <li><a href="javascript:;">周日</a></li>
                        </ul>
                    </div>
                    <div class="txt"><input name="" type="text" id="datetimepicker5" value="20:00"/></div>
                </dd>
            </dl>
        </div>
        <div class="btn"><a class="modbtn1 buildbtn2" href="javascript:;">上一步</a><a class="modbtn1 buildbtn4" href="javascript:;">下一步</a></div>
    </div>
</div>

<!--新建team-任务设置-->
<div class="modpop build4">
    <div class="title">
        <h3>新建team-任务设置</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="timeset">
          <dt><span>个人任务汇总发布时间：</span></dt>
            <dd>
                <input name="" type="text" id="datetimepicker6" value="17:30"/>
            </dd>
        </dl>
        <dl class="timeset" style="height:200px;">
          <dt><span>团队任务汇总发布时间：</span></dt>
            <dd>
                <input name="" type="text" id="datetimepicker7" value="18:20"/>
            </dd>
        </dl>
        <div class="btn"><a class="modbtn1 buildbtn3" href="javascript:;">上一步</a><a class="modbtn1" href="javascript:;" onclick="postNewTeam()">完成</a></div>
    </div>
</div>

<!--Team管理-->
<div class="modpop editteam_pop">
    <div class="title">
        <h3>Team管理</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="txt_">
            <dt><span>更改Team名称：</span></dt>
            <dd>
                <input name="" type="text" class='yet' id="thisteam_update_name" value="{{ thisteam['name'] }}" />
            </dd>
        </dl>
        <hr/>
        <dl class="priority">
            <dt><span>设置 <strong style='font-size:20px'>{{ thisteam['name'] }}</strong> 小组状态    <span style='color:red'>(慎用删除，停止Team请选择归档)</span></span></dt>
            <dd>
                <ul class="fix" id="thisteam_status">
                    {% if thisteam['status'] == 0 %}
                        <li class='cur cur_class_change'><a class="low" href="#">正常</a></li>
                        <li class='cur_class_change'><a class="high" href="#">归档</a></li>
                        <li class="cur_class_change"><a class="acute" href="#">删除</a></li>
                    {% elif thisteam['status'] == 1 %}
                        <li class='cur_class_change'><a class="low" href="#">正常</a></li>
                        <li class='cur cur_class_change'><a class="high" href="#">归档</a></li>
                        <li class="cur_class_change"><a class="acute" href="#">删除</a></li>
                    {% elif thisteam['status'] == 2 %}
                        <li class='cur_class_change'><a class="low" href="#">正常</a></li>
                        <li class='cur_class_change'><a class="high" href="#">归档</a></li>
                        <li class="cur cur_class_change"><a class="acute" href="#">删除</a></li>
                    {% else %}
                        <li class='cur cur_class_change'><a class="low" href="#">正常</a></li>
                        <li class='cur_class_change'><a class="high" href="#">归档</a></li>
                        <li class="cur_class_change"><a class="acute" href="#">删除</a></li>
                    {%end%}
                </ul>
            </dd>
        </dl>
        <div class="btn">
            <a class="modbtn1" href="javascript:;" onclick="update_team('{{str(thisteam["_id"])}}')">确定更改</a>
        </div>
    </div>
</div>

<!--创建公告-->
<div class="modpop pubBulletin_pop">
    <div class="title">
        <h3>发布公告</h3>
        <span><img src="/static/images/close.gif" title="关闭"></span>
    </div>
    <div class="cont">
        <dl class="type">
            <dt><span>公告类型：</span></dt>
            <dd>
                 <ul id="new_bulletin_type">
                    <li class="cur">自编辑</li>
                    <li>链接</li>
                </ul>
            </dd>
        </dl>
        <div class="bulletin_type_txt">
            <dl class="">
              <dt><span>公告名称：</span></dt>
                <dd>
                    <input name="" type="text"  id="new_bulletin_name_txt" value=""/>
                </dd>
            </dl>
            <dl class="">
                <dt><span>公告内容：</span></dt>
                <dd>
                    <textarea class="nofocus" id="new_bulletin_txt_txt" name="" cols="" rows=""></textarea> 
                </dd>
            </dl>
        </div>
        <div class="bulletin_type_url">
            <dl class="">
              <dt><span>公告名称：</span></dt>
                <dd>
                    <input name="" type="text"  id="new_bulletin_name_url" value=""/>
                </dd>
            </dl>
            <dl class="">
              <dt><span>连接地址：</span></dt>
                <dd>
                    <input name="" type="text"  id="new_bulletin_url_url" value=""/>
                </dd>
            </dl>
            <dl class="">
                <dt><span>公告内容：</span></dt>
                <dd>
                    <textarea class="nofocus" id="new_bulletin_txt_url" name="" cols="" rows=""></textarea> 
                </dd>
            </dl>
        </div>
        <div class="btn"><a class="modbtn1" href="javascript:;">发布</a></div>
    </div>
</div>

<!--遮罩层-->
<div class="popbg"></div>
</body>
<script>

$(".bulletin_type_url").hide();

//日报、周报切换
$.fn.extend({
    pubBulletinTypeTxtURL:function(){
        var defaults={
            oPop:".setteam",
            oType:".type",
            oTxt:".bulletin_type_txt",
            oURL:".bulletin_type_url",
        }
        var options= $.extend(defaults,options);
        this.each(function(){
            var That=$(this);
            var Mantle={
                oPop:That,
                oType:That.find(options.oType),
                oTxt:That.find(options.oTxt),
                oURL:That.find(options.oURL),
                init:function(){
                    this.clickfn()
                },
                clickfn:function(){
                    var That=this;
                    That.oType.find("li").click(function(){
                        That.oType.find("li").removeClass("cur");
                        $(this).addClass("cur");
                        if($(this).index()==0){
                            That.oURL.css("display","none");
                            That.oTxt.css("display","block");
                        }
                        if($(this).index()==1){
                            That.oTxt.css("display","none");
                            That.oURL.css("display","block");
                        }
                    })
                },
            }
            Mantle.init();
        })
    }   
})

$(function(){
    //左侧导航
    $("#nav").sideNav({
        sideNav:"#nav",
        subNav:".subnav",
        index: {{index_num}}
    });

    $(".editteam_pop").popBox({
        oPop:"detail",
        oTitMove:".title",
        oClose:"span",
        oBtn:".editteam",
        giveup:{onoff:true},
        detail:{onoff:true}
    });

    $(".pubBulletin_pop").popBox({
        oPop:"detail",
        oTitMove:".title",
        oClose:"span",
        oBtn:".pubBulletin",
        giveup:{onoff:true},
        detail:{onoff:true}
    });

    $(".pubBulletin_pop").pubBulletinTypeTxtURL({
        oPop:".pubBulletin_pop",
        oType:".type",
        oTxt:".bulletin_type_txt",
        oURL:".bulletin_type_url",
    });

    var day_or_week = {{thisteam['day_or_week']}};
    if(day_or_week == 1){
        try {
            document.getElementById('if_week_click_it').click();
        } catch(error) {
            console.log(error);
        } finally {
        }
    }
})

function update_team(teamid){
    var status_str = $("#thisteam_status").find('li.cur a').html();
    var teamname = $.trim($("#thisteam_update_name").val());
    if (teamname == "")
    {
        alert("请填写小组名称！");
        return false;
    }
    var defaults={
        giveup:{div:"giveup",txt: "确定更改Team: <strong style='font-size:25px'>" + teamname + "</strong> 状态为" + "<span style='color:red'> " + status_str + "?</span>"},
    }
    var options= $.extend(defaults,options);
    var That=$(this);
    var Mantle={
        oGiveup:options.giveup,

        init:function(){
            this.obClick();
        },
        
        creatGiveup:function(){
            var _this=this;
            var $giveup=$("<div class='giveup' id="+_this.oGiveup.div+"></div>");
            var $giveupTxt = $("<p>"+_this.oGiveup.txt+"</p>");
            var $giveupBtn = $("<div class='btn'><a href='javascript:;'>确定</a><a href='javascript:;'>取消</a></div>");
            $giveupTxt.appendTo($giveup);
            $giveupBtn.appendTo($giveup);
            return $giveup
        },
        obClick:function(){
            var _this = this;
            var _This=$(this);
            _This.addClass("cur");
            $(".popbg").css({"z-index":"100","display":"block"});
            _this.creatGiveup().appendTo($(document.body));
            $("#"+_this.oGiveup.div).css({top:$(window).height()/2-$(".giveup").outerHeight()/2+$(window).scrollTop(),left:$(window).width()/2-$(".giveup").outerWidth()/2+$(window).scrollLeft()});
            
            $("#"+_this.oGiveup.div).find(".btn").find("a").eq(0).click(function(){
                update_team_action(teamid, status_str, teamname);
                $("#"+_this.oGiveup.div).remove();
                _This.parent("li").remove();
                $(".popbg").css({"z-index":"98","display":"none"});
            })
            $("#"+_this.oGiveup.div).find(".btn").find("a").eq(1).click(function(){
                $("#"+_this.oGiveup.div).remove();
                $(".popbg").css({"z-index":"98","display":"none"});
            })
        },
        Position:function(){
            $("#"+this.oGiveup.div).css({top:$(window).height()/2-$(".giveup").outerHeight()/2+$(window).scrollTop(),left:$(window).width()/2-$(".giveup").outerWidth()/2+$(window).scrollLeft()});
        }        
    }    
    Mantle.init();
    $(window).bind("resize",function(){
        Mantle.Position();
    }) 
}

function update_team_action(teamID, status_str, teamname){
    var status = 0;
    if(status_str == "归档")
        status = 1;
    else if(status_str == "删除")
        status = 2

    $.ajax({
        type: 'PATCH',
        url: '/teamaction/' + teamID,
        data: {
            "teamID": teamID,
            "status": status,
            "name": teamname
        },
        dataType: 'text',
        success: function(res) {
            console.log(res);
            if (res == "Success"){
                location.href ="/";
            }else{
                alert(res);
            }
        },
        error: function(res) {
            alert("Error");
        },
        complete: function() {
            console.log("Complete");
        }
    });
}

</script>
</html>
{% block script %}
{% end %}